ci-dev-url=https://ci-dev.tax.service.gov.uk
ci-dev-username=
ci-dev-password=

ci-open-url=https://ci-open.tax.service.gov.uk
ci-open-username=
ci-open-password=

ci-build-url=https://ci-build.tax.service.gov.uk
ci-build-username=
ci-build-password=

deploy-qa-url=https://deploy-qa.tax.service.gov.uk
deploy-qa-username=
deploy-qa-password=

deploy-staging-url=https://deploy-staging.tax.service.gov.uk
deploy-staging-username=
deploy-staging-password=