#Move this file to $HOME/.credentials/credentials.properties

username=
ci-password=
deploy-password=
ci-dev-url=https://ci-dev.tax.service.gov.uk
ci-open-url=https://ci-open.tax.service.gov.uk
ci-build-url=https://ci-build.tax.service.gov.uk/
deploy-qa-url=https://deploy-qa.tax.service.gov.uk/
deploy-staging-url=https://deploy-staging.tax.service.gov.uk/