ciDevUrl=https://ci-dev.tax.service.gov.uk
ciDevUsername=
ciDevPassword=

ciOpenUrl=https://ci-open.tax.service.gov.uk
ciOpenUsername=
ciOpenPassword=

ciBuildUrl=https://ci-build.tax.service.gov.uk/
ciBuildUsername=
ciBuildPassword=

deployQaUrl=https://deploy-qa.tax.service.gov.uk/
deployQaUsername=
deployQaPassword=

deployStagingUrl=https://deploy-staging.tax.service.gov.uk/
deployStagingUsername=
deployStagingPassword=